<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gestion_PDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Gestion_PDA.Properties.Settings>
            <setting name="bdd_host" serializeAs="String">
                <value>sql.ribegroupe.com</value>
            </setting>
            <setting name="bdd_user" serializeAs="String">
                <value>jdelannoy</value>
            </setting>
            <setting name="bdd_password" serializeAs="String">
                <value>Mathis3028</value>
            </setting>
            <setting name="bdd_database" serializeAs="String">
                <value>hubone_pda</value>
            </setting>
            <setting name="ftp_host" serializeAs="String">
                <value>ftp.ribegroupe.com</value>
            </setting>
            <setting name="ftp_user" serializeAs="String">
                <value>depot</value>
            </setting>
            <setting name="ftp_password" serializeAs="String">
                <value>depot</value>
            </setting>
            <setting name="ftp_port" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.1.1.0</value>
            </setting>
            <setting name="code_secret" serializeAs="String">
                <value>3Ribegroupe21!</value>
            </setting>
        </Gestion_PDA.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>